<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<style>
		section{
			margin-bottom: 10px;
		}
		.bugname, .stats{
			font-size: 20pt;
		}
		.closed{
			color : red;
			text-decoration: line-through;
			font-style: italic;
			font-weight: bold;
		}
		ol{
			width: 500px;
			list-style: none;
		}
		li{
			margin-bottom: 10px;
			border : 1px solid gray;
			background: #e7e7e7;
			padding : 5px;
			border-radius: 5px;
		}
		.bugname{
			cursor: pointer;
		}
		.datetime{
			font-style: italic;
		}
	</style>
	<script src="angular.js"></script>
	<script>
		var bugTrackerApp = angular.module("bugTrackerApp", []);
		bugTrackerApp.controller("bugsController", function($scope){
			
			$scope.bugs = [];
			
			$scope.addNew = function(newBugName){
				var newBug = {
					name : newBugName,
					isClosed : false
				};
				$scope.bugs.push(newBug);
			};

			$scope.toggleBug = function(bug){
				bug.isClosed = !bug.isClosed;
			}

			$scope.getClosedCount = function(){
				return $scope.bugs.filter(function(bug){
					return bug.isClosed
				}).length;
			};

			$scope.removeClosed = function(){
				for(var i=$scope.bugs.length-1; i >=0; i--)
					if ($scope.bugs[i].isClosed)
						$scope.bugs.splice(i,1);
			}
		});
	</script>
</head>
<body ng-app="bugTrackerApp">
	<h1>Bug Tracker</h1>
	<hr>
	<section class="content" ng-controller="bugsController">
		<section class="stats">
			<span class="closed">{{getClosedCount()}}</span>
			<span> / </span>
			<span>{{bugs.length}}</span>
		</section>
		<section class="search">
			<label for="">Search : </label>
			<input type="text" name="" id="">
			<label for="">Closed ? :</label>
			<input type="checkbox" name="" id="">
		</section>
		<section class="sort">
			<label for="">Order By :</label>
			<input type="text" name="" id="">
			<label for="">Descending ? :</label>
			<input type="checkbox" name="" id="">
		</section>
		<section class="edit">
			<label for="">Bug Name : </label>
			<input type="text" ng-model="newBug">
			<input type="button" value="Add New" ng-click="addNew(newBug)">
			<ol>
				<li ng-repeat="bug in bugs track by $index">
					<span 
						class="bugname" 
						ng-click="toggleBug(bug)" 
						ng-class="{closed : bug.isClosed}"
					>
						{{bug.name}}
					</span>
					<div class="datetime">[CreatedAt]</div>
				</li>
			</ol>
			<input type="button" value="Remove Closed" ng-click="removeClosed()">
		</section>
	</section>
</body>
</html>